h1.title
  color: #FFF
  float: left

ul.people li
  clear: left
  
  a:hover
    text-decoration: none
  
  dt, dd
    float: left

.timeline_container
  position: relative

.timeline, #timeline
  position: absolute
  top: 0
  left: 0

.timeline
  .years
    height: 30px
    left: 0
    
    .year
      position: absolute
      border-left: 1px solid #000
      height: inherit
  
  .people
    left: 0
    
    .person
      position: absolute
      border: 1px solid #555
      background: #EEE
      border-radius: 5px
      transition: top 1s ease-in
      
      &.alive
        border-right-width: 0
        border-top-right-radius: 0
        border-bottom-right-radius: 0
      
      &.active
        box-shadow: 1px 1px 3px #000
      
      .details
        padding: 2px 5px
      
      .lifespan
        float: right
      
      &:hover
        z-index: 1
